module.exports = Object.freeze({
  TOKEN: 'bot_token',
  ARIA_SECRET: 'aria2_secret',
  AIRA_DOWNLOAD_LOCATION: '/home/user/path/to/download/dir (no trailing "/")',
  ARIA_DOWNLOAD_LOCATION_ROOT: '/', //The mountpoint that contains AIRA_DOWNLOAD_LOCATION
  GDRIVE_PARENT_DIR_ID: 'id_of_Drive_folder_to_upload_into',
  SUDO_USERS: [012, 345],	// Telegram user IDs. These users can use the bot in any chat.
  AUTHORIZED_CHATS: [678, 901]	// Telegram chat IDs. People in these chats can use the bot.
});
